<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>staff</title>
</head>
<body>
	  <form action="#" th:action="@{/staff/save}" method="post" th:object="${staff}">
	  <p>Id: <input type="text" th:field="*{id}"/></p>
	  <p>Fulname: <input type="text" th:field="*{fullName}"/></p>
	  <p>mail: <input type="text" th:field="*{email}"/></p>
	  <p>Salary: <input type="text" th:field="*{salary}"/></p>
	  <p>Position: <input type="text" th:field="*{position}"/></p>
	  <button type="submit">Save</button>
	
	  </form>
</body>
</html>